body {
    font-family: Arial, sans-serif;
    padding: 20px;
}


h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

a {
    color: blue;
    text-decoration: none;
    margin-bottom: 20px; /* Adds space below the anchor element */
    display: inline-block; /* Ensures margin works as expected */
}


form {
    margin-top: 20px;
    margin-bottom: 20px
}

input[type="text"], input[type="number"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(24, 94, 198);
    color: white;
    border: none;
    cursor: pointer;
}
